{% extends "base.html" %}

{% block content %}
<h1>{% block title %}Home{%endblock title %}</h1>


 <div class="row">
    <div class="small-10 small-centered medium-6 medium-centered columns">
      
      <ul class="home-menu">
        {% comment %}
        <li class="home-menu-item" data-url="{% url 'core_dashboard' %}">
          <div class="icon-container dashboard"></div>
          <div class="label-container">
            My Dashboard
          </div>
        </li>
        {% endcomment %}
        
        <li class="home-menu-item" data-url="{% url 'patient_search' %}">
          <div class="icon-container search-patient"></div>
          <div class="label-container">
            Search for a Patient
          </div>
        </li>
        <li class="home-menu-item" data-url="{% url 'patient_add' %}">
          <div class="icon-container add-patient"></div>
          <div class="label-container">
            Add a new Patient
          </div>
        </li>
        <li class="home-menu-item" data-url="https://docs.google.com/forms/d/1mZhH8NO-3sUrrjwqTNwR54xpuQIMe-6IwXWcC2vaf-0/viewform?entry.362395284={{ user.get_full_name }}&entry.1729656582=Doctor" data-target="blank">
          <div class="icon-container feedback"></div>
          <div class="label-container">
            Provide Feedback
            <br/>
            <small>It won't take long!</small>
          </div>
        </li>
        {% if show_admin %}
        <li class="home-menu-item" data-url="/admin">
          <div class="icon-container admin"></div>
          <div class="label-container">
            Administration
          </div>
        </li>
        {% endif %}
      </ul>

    </div>
  </div>

{% endblock content %}

{% block extra_js %}

  <script type="text/javascript">
    $('.home-menu-item').click(function() {
      var url = $(this).attr('data-url');
      var target = $(this).attr('data-target');

      if ($(this).attr('data-target')) {
        window.open(url, target);
      } else {
        window.location = url;
      }
    });

  </script>

{% endblock extra_js %}