{% extends "base.html" %}

{% block content %}
<h1>{% block title %}Home{%endblock title %}</h1>


 <div class="row">
    <div class="small-10 small-centered medium-6 medium-centered columns">
      
      <ul class="home-menu">
        {% comment %}
        <li class="home-menu-item" data-url="{% url 'core_dashboard' %}">
          <div class="icon-container dashboard"></div>
          <div class="label-container">
            My Dashboard
          </div>
        </li>
        {% endcomment %}
        
        <li class="home-menu-item" data-url="{% url 'patient_search' %}">
          <div class="icon-container search-patient"></div>
          <div class="label-container">
            Patients Under my Care
          </div>
        </li>
        <li class="home-menu-item" data-url="{% url 'patient_add' %}">
          <div class="icon-container add-patient"></div>
          <div class="label-container">
            Add a new Patient
          </div>
        </li>
        <li class="home-menu-item" data-url="https://docs.google.com/a/fivium.co.uk/forms/d/1LIg79z_Tz-CQLn6zEajb2L0aslmdxgIjkxZAHsrkhg0/viewform?entry.1275370341={{ user.get_full_name }}&entry.1011460118={{ user.nhs_trust|default:"" }}&entry.1719012980&entry.1132715114={{ user.email }}&entry.480722753&entry.41286448={{ user.role|default:"" }}&entry.77524542&entry.1852574224&entry.2106310129&entry.1580995732&entry.837280011" data-target="blank">
          <div class="icon-container feedback"></div>
          <div class="label-container">
            Provide Feedback
          </div>
        </li>
        {% if show_admin %}
        <li class="home-menu-item" data-url="/admin">
          <div class="icon-container admin"></div>
          <div class="label-container">
            Administration
          </div>
        </li>
        {% endif %}
      </ul>

    </div>
  </div>

{% endblock content %}

{% block extra_js %}

  <script type="text/javascript">
    $('.home-menu-item').click(function() {
      var url = $(this).attr('data-url');
      var target = $(this).attr('data-target');

      if ($(this).attr('data-target')) {
        window.open(url, target);
      } else {
        window.location = url;
      }
    });

  </script>

{% endblock extra_js %}