{% load staticfiles %}
{% load cache %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Open Source medicine reconciliation for the NHS.">
    <meta name="author" content="Fivium, Ltd.">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="96x96" href="{% static 'img/medchecker_logo96x96.png' %}">
    <title>{% block title %}{% endblock title %} | MedChecker</title>
    <link rel="stylesheet" href="{% static 'css/foundation.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="{% static 'css/medchecker.css' %}" rel="stylesheet">
    {% block extra_css %}{% endblock extra_css %}
  </head>

  <body>

    {% block top_bar %}
      <nav class="top-bar" data-topbar role="navigation">

        <div class="row collapse">
          <div class="small-4 columns">
            <img src="{% static 'img/kevin_woods.png' %}" alt="Small photograph of patient." class="left" />
            <div class="left">
              <label for="patient-name">Patient</label>
              <span id="patient-name">Kevin Woods</span>
            </div>
          </div>
          <div class="large-4 columns">
            <div class="logo">
              <a href="{% url 'core_home' %}"><img src="{% static 'img/medchecker_logo96x96.png' %}" alt="MedChecker logo" /></a>
              <span class="bold">Med</span>Checker
            </div>
          </div>
          <div class="small-4 columns">
            <img src="{% static 'img/nurse_norah.png' %}" alt="Small photograph of currently logged in user." class="right" />
            <div class="right">
              <label for="current-user-name" class="text-right">Logged in as</label>
              <span id="current-user-name" class="text-right">{{ request.user.get_full_name }}</span>
              <a href="{% url 'logout' %}">Log out</a>
            </div>
          </div>
        </div>



        <ul class="left">
          <li>
            
          </li>
        </ul>

        <ul class="right">
          <li>
            
          </li>
        </ul>
      </nav>
    {% endblock top_bar %}

    {% block content %}
      <p>Override block "content" to display information here.</p>
    {% endblock content %}

    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    {% block extra_js %}{% endblock extra_js %}
  </body>
</html>
