{% load staticfiles %}
{% load cache %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Open Source medicine reconciliation for the NHS.">
    <meta name="author" content="Fivium, Ltd.">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="96x96" href="{% static 'img/medchecker_logo96x96.png' %}">
    <title>{% block title %}{% endblock title %} | MedChecker</title>
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/foundation.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="{% static 'css/medchecker.css' %}" rel="stylesheet">
    {% block extra_css %}{% endblock extra_css %}
  </head>

  <body>

    {% block top_bar %}
      <nav class="top-bar" data-topbar role="navigation">

        <div class="row collapse">
          <div class="medium-4 columns">
            {% if patient %}
            <img class="left positionRelative zindex2 paddingRight2Percent" alt="Small photograph of patient." src="{% static 'img/nav_patient.png' %}">
            <div class="left positionRelative zindex2">
              <div class="patient-summary">
                <div class="summary-item">
                  <label for="patient-name">Patient: </label>
                  <span id="patient-name" class="detail"><a href="{% url 'patient_detail' patient.id %}">{{ patient.get_full_name }}</a> ({{ patient.sex }})</span>
                </div>
                <div class="summary-item">
                  <label for="patient-dob">DOB: </label>
                  <span id="patient-dob" class="detail">{{ patient.date_of_birth }}</span>
                </div>
                <div class="summary-item">
                  <label for="patient-hospno">Hospital No: </label>
                  <span id="patient-hospno" class="detail">{{ patient.hospital_id }}</span>
                </div>
                <div class="summary-item">
                  <label for="patient-nhs">NHS No: </label>
                  <span id="patient-nhs" class="detail">{{ patient.nhs_number }}</span>
                </div>
              </div>         
            </div>
            <div class="ddMenu hide">
              <ul>
                <li class="borderBottom"><a href="{% url 'patient_detail' patient.id %}"><span class="patientMenuIcon"><img alt="#" src="{% static 'img/menuitems/leftnav_02.png' %}" /></span>Medication History</a></li>
                <li class="borderBottom borderTop"><a href="{% url 'patient_add_medicine' patient.id %}"><span class="patientMenuIcon"><img alt="#" src="{% static 'img/menuitems/leftnav_01.png' %}" /></span>Add new meds</a></li>
                <li class="borderBottom borderTop"><a href="{% url 'patient_reconcile_medicine' patient.id %}"><span class="patientMenuIcon"><img alt="#" src="{% static 'img/menuitems/leftnav_03.png' %}" /></span>Reconcile meds</a></li>
                <li class="borderBottom borderTop"><a href="{% url 'patient_search' %}"><span class="patientMenuIcon"><img alt="#" src="{% static 'img/menuitems/leftnav_04.png' %}" /></span>Search Patients</a></li>
                <li class="borderBottom borderTop"><a href="{% url 'patient_add' %}"><span class="patientMenuIcon"><img alt="#" src="{% static 'img/menuitems/leftnav_05.png' %}" /></span>Add Patient</a></li>
                <li class="borderBottom borderTop"><a href="{% url 'core_dashboard' %}"><span class="patientMenuIcon"><img alt="#" src="{% static 'img/menuitems/leftnav_06.png' %}" /></span>Select Recent Patients</a></li>
              </ul>
            </div>
            {% else %}
              &#160;
            {% endif %}
          </div>
          {% comment %}
          <div class="small-4 columns">
            <div class="logo right">
              <a href="{% url 'core_home' %}"><img src="{% static 'img/medchecker_logo.png' %}" alt="MedChecker logo" /></a>
{#               <span class="bold">Med</span>Checker #}
            </div>
          </div>
          {% endcomment %}
          <div class="hide-for-small-only medium-4 columns">
            <div class="logo">
              <a href="{% url 'core_home' %}"><img src="{% static 'img/medchecker_logo.png' %}" alt="MedChecker logo" /></a>
{#               <span class="bold">Med</span>Checker #}
            </div>
          </div>

          <div class="small-6 medium-4 columns">
            <img src="{% static 'img/nav_user.png' %}" alt="Small photograph of currently logged in user." class="right" />
            <div class="right">
              <label for="current-user-name" class="text-right">Logged in as</label>
              <span id="current-user-name" class="text-right">{{ request.user.get_full_name }}</span>
              <a href="{% url 'logout' %}">Log out</a>
            </div>
          </div>
          
        </div>
      </nav>
    {% endblock top_bar %}

    {% block content %}
      <p>Override block "content" to display information here.</p>
    {% endblock content %}

    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/medchecker.js' %}"></script>
    {% block extra_js %}{% endblock extra_js %}
  </body>
</html>
