{% load staticfiles %}
{% load cache %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Open Source medicine reconciliation for the NHS.">
    <meta name="author" content="Fivium, Ltd.">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="96x96" href="{% static 'img/medchecker_logo96x96.png' %}">
    <title>{% block title %}{% endblock title %} | MedChecker</title>
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/foundation.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="{% static 'css/medchecker.css' %}" rel="stylesheet">
    {% block extra_css %}{% endblock extra_css %}
  </head>

  <body>

    {% block top_bar %}

    <nav class="top-bar" role="navigation" data-topbar="">
      <div class="row collapse padding10px">
        <div class="small-6 medium-5 columns ">
          <img id="patient-menu-icon" class="left positionRelative zindex2 paddingRight2Percent" alt="Small photograph of patient." src="{% static 'img/nav_patient.png' %}">             
          <div id="patient-menu" class="ddMenu hide">
            <ul>
              {% if patient %}
              <li class="borderBottom borderTop title">Patient Options</li>
              <li class="borderBottom borderTop"><a href="{% url 'patient_detail' patient.id %}"><span class="patientMenuIcon"><img alt="#" src="{% static 'img/menuitems/leftnav_02.png' %}" /></span>Medication History</a></li>
              <li class="borderBottom borderTop"><a href="{% url 'patient_add_medicine' patient.id %}"><span class="patientMenuIcon"><img alt="#" src="{% static 'img/menuitems/leftnav_01.png' %}" /></span>Add Medication</a></li>
              <li class="borderBottom borderTop"><a href="{% url 'patient_reconcile_medicine' patient.id %}"><span class="patientMenuIcon"><img alt="#" src="{% static 'img/menuitems/leftnav_03.png' %}" /></span>Reconcile to In Patient Prescription</a></li>
              {% endif %}
              <li class="borderBottom borderTop title">Quick Navigation</li>
              <li class="borderBottom borderTop"><a href="{% url 'patient_search' %}"><span class="patientMenuIcon"><img alt="#" src="{% static 'img/menuitems/leftnav_04.png' %}" /></span>Patients Under My Care</a></li>
              <li class="borderBottom borderTop"><a href="{% url 'patient_add' %}"><span class="patientMenuIcon"><img alt="#" src="{% static 'img/menuitems/leftnav_05.png' %}" /></span>Add Patient</a></li>
              {# <li class="borderBottom borderTop"><a href="{% url 'core_dashboard' %}"><span class="patientMenuIcon"><img alt="#" src="{% static 'img/menuitems/leftnav_06.png' %}" /></span>Select Recent Patients</a></li> #}
            </ul>
          </div>
        </div>
        <div class="hide-for-small-only medium-2 columns">
          <div class="logo">
            <a href="{% url 'core_home' %}"><img src="{% static 'img/medchecker_logo.png' %}" alt="MedChecker logo" /></a>
  {#               <span class="bold">Med</span>Checker #}
          </div>
        </div>


        <div class="small-6 medium-5 columns">
          <img id="user-menu-icon" class="right positionRelative zindex2" alt="Small photograph of currently logged in user." src="{% static 'img/nav_user.png' %}">             
          <div class="right positionRelative zindex2 paddingRight2Percent">
            <label class="text-right" for="current-user-name">Logged in as</label>
            <span class="text-right" id="current-user-name">{{ user.get_full_name }}</span>              
          </div>
          <div id="user-menu" class="ddMenu right hide">
            <ul>
              <li class="borderBottom borderTop title">User Options</li>
              <li class="borderBottom borderTop"><a href="#"><img alt="#" src="{% static 'img/menuitems/rightnav_01.png' %}" />Help</a></li>
              <li class="borderBottom borderTop"><a href="{% url 'core_user_settings' %}"><img alt="#" src="{% static 'img/menuitems/rightnav_02.png' %}" />Settings</a></li>
              <li class="borderBottom borderTop"><a href="{% url 'logout' %}"><img alt="#" src="{% static 'img/menuitems/rightnav_03.png' %}" />Log out</a></li>
              <li class="borderBottom borderTop"><a href="https://docs.google.com/a/fivium.co.uk/forms/d/1LIg79z_Tz-CQLn6zEajb2L0aslmdxgIjkxZAHsrkhg0/viewform?entry.1275370341={{ user.get_full_name }}&entry.1011460118={{ user.nhs_trust|default:"" }}&entry.1719012980&entry.1132715114={{ user.email }}&entry.480722753&entry.41286448={{ user.role|default:"" }}&entry.77524542&entry.1852574224&entry.2106310129&entry.1580995732&entry.837280011" target="_blank"><img alt="#" src="{% static 'img/menuitems/leftnav_04.png' %}" />Feedback</a></li>
            </ul>
          </div>
        </div>
      </div>

      {% if patient %}
      <div class="patient-summary">
        <div class="summary-item">
          <label for="patient-name">Patient: </label>            
          <span class="detail" id="span1"><a href="{% url 'patient_detail' patient.id %}">{{ patient.get_full_name }}</a> ({{ patient.sex }})</span>                 
        </div>
        <div class="summary-item">
          <label for="patient-dob">DOB: </label>                 
          <span class="detail" id="patient-dob">{{ patient.date_of_birth }}</span>                 
        </div>
        <div class="summary-item">
          <label for="patient-hospno">Hospital No:</label>      
          <span class="detail" id="patient-hospno">{{ patient.hospital_id }}</span>         
        </div>
        <div class="summary-item">
          <label for="patient-nhs">NHS No: </label>              
          <span class="detail" id="patient-nhs">{{ patient.nhs_number }}</span>                 
        </div>
        <div class="moreInfoTabWrapper">
          <div id="moreInfoTab">More info<span>+</span></div>
        </div>         
      </div>
          
      <div id="moreInfo" class="hide">
        <div class="left width100Percent marginBottom20px">
          <div class="left width50Percent bold">DOB:</div>
          <div class="left width50Percent fontSize0Point95em">{{ patient.date_of_birth }}</div>
        </div>
        <div class="left width100Percent marginBottom20px">
          <div class="left width50Percent lineHeight1Point5em bold">Address:</div>
          <div class="left width50Percent fontSize0Point95em">
            <span>{{ patient.street }}</span>
            <span>{{ patient.town }}</span> 
            <span>{{ patient.county }}</span> 
            <span>{{ patient.post_code }}</span> 
          </div>
        </div>
        <div class="left width100Percent marginBottom20px">
          <div class="left width50Percent lineHeight1Point5em bold">Hospital No:</div>
          <div class="left width50Percent lineHeight1Point5em fontSize0Point95em">{{ patient.hospital_id }}</div>
        </div>
        <div class="left width100Percent marginBottom20px">   
          <div class="left width50Percent lineHeight1Point5em bold">NHS No:</div>
          <div class="left width50Percent fontSize0Point95em">
            <span>{{ patient.nhs_number }}</span>
          </div>
        </div>
        <div class="left width100Percent marginBottom20px">    
          <div class="left width50Percent lineHeight1Point5em bold">
            <span>Allergies:</span>
          </div>
          <div class="left width50Percent fontSize0Point95em">
            <span>Tetracycline</span>
            <span>Dilantin</span>
          </div>  
        </div>  
        <div class="left width50Percent lineHeight1Point5em bold">GP Name &amp; Address</div>
        <div class="left width50Percent fontSize0Point95em">
          <span>{{ patient.general_practitioner.get_full_name }}</span>
          <span>{{ patient.general_practitioner.street }}</span>
          <span>{{ patient.general_practitioner.town }}</span> 
          <span>{{ patient.general_practitioner.county }}</span> 
          <span>{{ patient.general_practitioner.post_code }}</span> 
        </div>
      </div>
      {% endif %}
    </nav>

    {% endblock top_bar %}

    {% block content %}
      <p>Override block "content" to display information here.</p>
    {% endblock content %}

    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/medchecker.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.mobile.custom.min.js' %}"></script>
    {% block extra_js %}{% endblock extra_js %}
    {% if not DEBUG %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', '', 'auto');
      ga('send', 'pageview');

    </script>
    {% endif %}
  </body>
</html>
