html { 
  background: url(../img/login_background.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.login-panel {
  margin-top: 60px;
}

body {
	background:transparent;
}
h1 {
	text-align: center; color: white; font-weight: normal; vertical-align: middle;
  padding-right: 15px;
  margin-top: -45px;
  color: rgb(64, 81, 91);
  width: 300px;
}
h1 > span.bold {
	font-weight: bold;
}
.login-pane {
	padding: 1.4em 2.2em 2.2em; border-radius: 0.6em; background-color: rgb(234, 237, 242); -webkit-border-radius: 0.6em; -moz-border-radius: 0.6em;
  border: 1px solid #ddd;
}
.login-pane input[type='email'] {
	font-size: 1.2em;
}
.login-pane input[type='number'] {
	font-size: 1.2em;
}
.login-pane input[type='password'] {
	font-size: 1.2em;
}
.login-pane input[type='submit'] {
	font-size: 1.2em;
}
.login-pane input[type='email'] {
	border-radius: 0.3em; color: rgb(94, 107, 116); background-color: rgb(212, 217, 221); -webkit-border-radius: 0.3em; -moz-border-radius: 0.3em;
}
.login-pane input[type='number'] {
	border-radius: 0.3em; color: rgb(94, 107, 116); background-color: rgb(212, 217, 221); -webkit-border-radius: 0.3em; -moz-border-radius: 0.3em;
}
.login-pane input[type='password'] {
	border-radius: 0.3em; color: rgb(94, 107, 116); background-color: rgb(212, 217, 221); -webkit-border-radius: 0.3em; -moz-border-radius: 0.3em;
}
.login-pane input[type='submit'] {
	padding: 0.4em 1.8em; border-radius: 0.3em; border: currentColor; border-image: none; color: white; background-color: rgb(233, 95, 85); -webkit-border-radius: 0.3em; -moz-border-radius: 0.3em;
}
.login-pane .login-icon-container {
	text-align: center; margin-bottom: 2.4em;
}
.login-pane .fa-lock {
	border-radius: 1.8em; width: 1.8em; height: 1.8em; text-align: center; color: white; padding-top: 0.4em; font-size: 3em; vertical-align: middle; background-color: rgb(63, 80, 90); -webkit-border-radius: 1.8em; -moz-border-radius: 1.8em;
}
input[type='number'] {
	text-align: center;
}
.nfc-pin {
	height: 2em; font-size: 2em;
}
h2 {
	text-align: center; font-size: 1.4em; margin-bottom: 20px;
}
