body {
	color: rgb(64, 81, 91);
}
.top-bar {
	height:auto; color: rgb(65, 79, 90); vertical-align: middle; background-color: rgb(169, 213, 216);padding:1%;
}
.top-bar ul {
	height: 100%;
}
.top-bar li {
	height: 100%;
}
.top-bar label {
	color: rgb(65, 79, 90); font-size: 1em; cursor: text;
}
.logo {
	text-align: center;vertical-align: middle;
}
.logo > span.bold {
	font-weight: bold;
}
h1 {
	text-align: center;
}
.intro-text {
	text-align: center;
}
h1 {
	color: rgb(71, 88, 96); font-size: 2em; font-weight: bolder; margin-top: 1em;
}
.intro-text {
	color: rgb(115, 128, 136); font-size: 1.4em;
}
.NotYetImplemented::before {
	left: 50%; text-align: center; color: rgb(228, 96, 73); font-size: 1.4em; margin-left: -170px; position: absolute; content: "This feature is not yet implemented";
}
.home-menu .home-menu-item {
	border-radius: 1em; width: 400px; margin-bottom: 50px; display: block; position: relative; background-color: rgb(234, 237, 242); -webkit-border-radius: 1em; -moz-border-radius: 1em;
}
.home-menu .home-menu-item:hover {
	cursor: pointer; background-color: rgb(200, 202, 206);
}
.home-menu .home-menu-item .icon-container {
	background-position: 45px 35px; border-radius: 90px; left: -100px; top: -15px; width: 180px; height: 180px; position: absolute; background-repeat: no-repeat; -webkit-border-radius: 90px; -moz-border-radius: 90px;
}
.home-menu .home-menu-item .search-patient.icon-container {
	background-image: url("../img/home_patient_search.png"); background-color: rgb(228, 96, 73);
}
.home-menu .home-menu-item .add-patient.icon-container {
	background-image: url("../img/home_patient_add.png"); background-color: rgb(46, 179, 152);
}
.home-menu .home-menu-item .dashboard.icon-container {
	background-image: url("../img/home_dashboard.png"); background-color: rgb(255, 216, 0);
}
.home-menu .home-menu-item .feedback.icon-container {
	background-position: 40px 45px; background-image: url("../img/home_feedback.png"); background-color: rgb(111, 119, 206);
}
.home-menu .home-menu-item .admin.icon-container {
	background-color: rgb(0, 0, 0);
}
.label-container {
	width: 100%; height: 150px; line-height: 150px; padding-left: 100px; font-size: 1.2em;
}
.errorlist {
	list-style: none; font-size: 0.9em; margin-bottom: 0px; margin-left: 0px;
}

.ddMenu{width:90%;position:absolute;z-index:1;top:-13px;left:-13px;padding-top:120px;background: #3f505a; -webkit-box-shadow: inset -7px 0px 5px 0px rgba(54,67,76,1);-moz-box-shadow: inset -7px 0px 5px 0px rgba(54,67,76,1);box-shadow: inset -7px 0px 5px 0px rgba(54,67,76,1);}
.zindex2 {z-index:2;}
.positionRelative{position:relative;}
.paddingRight2Percent{padding-right:2%;}
.borderBottom{border-bottom:1px solid #28373e;}
.borderTop{border-top:1px solid #54636a;}

.ddMenu ul li{line-height:4em;padding-left:5%;}
.ddMenu ul{padding:0;margin:0;}
.ddMenu ul li a{color:#dadcdb;}
.patientMenuIcon{display:inline-block;margin-right:5%;}
.logo img {margin-right:2%;}
.top-bar img{cursor:pointer;}


.patient-summary {
	margin-top: -15px;
}

.patient-summary .summary-item {
	display: block;
	height: 23px;
}

.patient-summary label {
	display: inline;
	font-weight: bold;
}

.patient-summary detail {
	display: inline;
}

.patient-search-result {
	margin: 0 0 20px 0;
}

.patient-search-result h2 {
	padding: 0;
	margin: 0;
}

.patient-search-result label {
  display: inline;
  font-weight: bold;
}

.patient-search-result span.detail {
  margin-right: 10px;
}

.patient-search-result span.sex {
  font-size: 0.7em;
}