.please-rotate {
  font-size: 2em;
  text-align: center;
  margin-top: 100px;
}

.med-rec-container {
  vertical-align: top;
  width: 94%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 100%;
  height: auto;
}

.med-rec-col {
  padding: 0 5px 0 5px;
  height: 100%;
}

.med-rec-source, .med-rec-target {
  /*padding: 3px 10px 3px 10px;*/
  height: 20%;
  box-sizing: border-box;
}

.med-rec-source {
  background-color: #EAEDF2;
  border-bottom: 1px solid #bbb;
}

.med-rec-target {
  background-color: #3F505A;
  padding-bottom: 2px;
  border-bottom: 1px solid #eee;
}

.med-tile-container {
  padding: 5px;
}

.med-rec-col .header {
  height: 80px;
  background-color: #E46049;
  -webkit-border-radius: 0.7em 0.7em 0 0;
  -moz-border-radius: 0.7em 0.7em 0 0;
  border-radius: 0.7em 0.7em 0 0;
  text-align: center;
  color: #fff;
  font-size: 1.4em;
}

.inpatient {
	background-image:url('../medicine_reconcile_header_inpatient.png');
	background-repeat: no-repeat;
}

.gp {
	background-image: url('../medicine_reconcile_header_gp.png');
	background-repeat: no-repeat;
}

.history {
	background-image: url('../medicine_reconcile_header_history.png');
	background-repeat: no-repeat;
}

.reconcile {
	background-image: url('../medicine_reconcile_header_reconcile.png');
	background-repeat: no-repeat;
}

.med-rec-col .header .title {
  margin-top: 0px;
  margin-left: 110px;
  padding-top: 15px;
  float: left;
}

.med-rec-col-right {
	display: none;
	width: 0%;
	float: right !important;
}

.header.gp {
  background-color: #EAC64D;
}

.header.inpatient {
  background-color: #DD5C4D;
}

.header.continue {
  background-color: #45B598;
}

.header.suspend {
  background-color: #EAC64D;
}

.header.stop {
  background-color: #DD5C4D;
}


.header.history {
  background-color: #45B598;
}

.header.reconcile {
  background-color: #75BACF;
}

.med-tile, .drop-helper, .dropzone {
  box-sizing: border-box;
  -webkit-border-radius: 0.6em;
  -moz-border-radius: 0.6em;
  border-radius: 0.6em;
  z-index: 9999;
  padding: 10px;
}

.med-tile, .drop-helper {
  background-color: #D4D9DD;
}

.med-tile {
  cursor: move;
  text-align: center;
  min-height: 125px;
}

.med-tile.stop {
  background-color: #FFE0E0;
}

.med-tile.suspend {
  background-color: #FFFFE0;
}

.medicine {
  font-weight: bold;
}

.source {
  font-size: 0.8em;
  margin-top: 15px;
  font-style: italic;
}

.drag-helper {
  -webkit-box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.75);
  opacity: 0.7;
}

/*.drag-helper {
  -webkit-box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.75);
}

.drop-helper {
  background-color: #53646E;
  color: #fff;
  text-align: center;
  font-size: 1.4em;
}*/



.in-progress {
  background-color: yellow;
}

.complete {
  opacity: 0.4;
  filter: alpha(opacity=40); /* msie */
  cursor: default;
}

.dropzone {
  border: 2px dashed #fff;
  display: none;
  color: white;
  text-align: center;
  font-size: 1em;
  line-height: 30px;
  padding: 2px 10px;
  margin: 2px 0;
}

.dropzone.continue {
  border-color: #42FF68;
  color: #42FF68;
}

.highlight {
  font-weight: bold;
  background-color: #FFFF94;
  border-radius: 0.3em;
  padding: 2px;
}

.dropzone.continue.ui-state-hover {
  background-color: #A8FFBA;
  color: #3F505A;
}

.dropzone.replace {
  border-color: #FFC642;
  color: #FFC642; 
}

.dropzone.replace.ui-state-hover {
  background-color: #FFE5A8;
  color: #3F505A;
}

.dropzone.suspend {
  border-color: #FFC642;
  color: #FFC642; 
}

.dropzone.suspend.ui-state-hover {
  background-color: #FFE5A8;
  color: #3F505A;
}

.dropzone.stop {
  border-color: #FF0F57;
  color: #FF0F57; 
}

.dropzone.stop.ui-state-hover {
  background-color: #FFA8C2;
  color: #3F505A;
}


.dropzone.visible {
  display: block;
  -webkit-animation: fadein 0.3s; /* Safari, Chrome and Opera > 10.2.1 */
  -moz-animation: fadein 0.3s; /* Firefox < 16 */
  -ms-animation: fadein 0.3s; /* Internet Explorer */
  -o-animation: fadein 0.3s; /* Opera < 12.1 */
  animation: fadein 0.3s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#swipe_left {
	display: inline;
}

#swipe_right {
	display: inline;
}

.title {
	display: inline;
}

.header img {
	float: left;
}

.titledetail {
	display:inline;
}

.titlemoreinfo {
	font-size: 12px;
	font-weight: normal;
	text-decoration: italic;
}

.titleinfo {
	display: inline;
	font-size: 10px
	font-weight: normal;	
}

.tooltip {
	width: 300px;
	height: 300px;
	background: yellow;
	color: red;
}
