.medicine-free-text-container {
  padding: 10px;
  background-color: #eee;
  margin-bottom: 20px;
}

.medicine-free-text-container.highlight {
  background-color: #A9D5D8;
  -webkit-transition: background-color 300ms linear;
  -moz-transition: background-color 300ms linear;
  -o-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
}

#primary-care > .row {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

#secondary-care > .row {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.toparrow {
	float:left;
	width: 50%;
	text-align: center;
}

.medicine-free-text {
  box-sizing: border-box;
  font-size: 2em;
  height: 2em;
  line-height: 2em;
  border: 1px solid #cccccc;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  position: relative;
  background-color: #fff;
  overflow-y: hidden;
  overflow-x: auto;
  white-space: nowrap;
}

.medicine-free-text.placeholder {
  color: #cccccc;
}

.medicine-free-text:focus {
  transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
  -webkit-appearance: none;
  outline: none;
}

#caret-locatior {
  width: 0px;
}

.leftarrow {
	width: 80%;
	float: left
}

.rightarrow {
	float: left;
	width: 20%;
	overflow: hidden;
	padding-top: 56px;
}

.bottom {
	padding-top: 22px !important;
}

.medicine-free-text-suggestions {
  border: 1px solid #cccccc;
  background-color: #eeeeee;
  position: absolute;
  z-index: 9999;
  display: none;
  max-height: 350px;
  overflow-y: scroll;
  margin-top: -1px;
}

.medicine-free-text-suggestions ul {
  list-style: none;
  margin-left: 0;
  margin-bottom: 0;
}

.suggestion {
  font-size: 1.5em;
  padding-left: 0.8rem;
  white-space: nowrap;
}

.suggestion:hover {
  background-color: #dddddd;
  cursor: pointer;
}

.wait-container {
  position: absolute;
  right: 28px;
  top: 16px;
  display: none;
}