{% extends "base.html" %}

{% block content %}
<h1>{% block title %}{{ patient.get_full_name }} ({{ patient.nhs_number }}){%endblock title %}</h1>

<h2>Medication History</h2>
<a href="{% url 'patient_add_medicine' patient.id %}" class="button">Add Medication</a>
<h3>Unverified Medications</h2>
<a href="{% url 'patient_add_medicine' patient.id %}" class="button">Verify Medications</a>
<a href="{% url 'patient_reconcile_medicine' patient.id %}" class="button">Reconcile Medications</a>
<ul>
{% for medication in unverified_medications %}
  <li>{{ medication.virtual_medicinal_product.nm }}, {{ medication.frequency}} {{ medication.duration }} ({{ medication.get_source_display }})</li>
{% endfor %}
</ul>
{% endblock content %}