{% extends "base.html" %}

{% block content %}
<h1>{% block title %}{{ patient.get_full_name }} ({{ patient.nhs_number }}){%endblock title %}</h1>

<h2>Medication History</h2>
<a href="{% url 'patient_verify_medicine' patient.id %}" class="button">Review Unverified Medications</a>
<a href="{% url 'patient_discharge' patient.id %}" class="button">Discharge Patient</a>

<h3>Unverified Medications</h2>

<ul>
{% for medication in unverified_medications %}
  <li>{{ medication.virtual_medicinal_product.nm }}, {{ medication.frequency}} {{ medication.duration }} ({{ medication.get_source_display }})</li>
{% endfor %}
</ul>

<h3>Medication History</h2>

<ul>
{% for medication in verified_medications %}
  <li>{{ medication.virtual_medicinal_product.nm }}, {{ medication.frequency}} {{ medication.duration }} ({{ medication.get_source_display }})</li>
{% endfor %}
</ul>
{% endblock content %}