<div class="medium-3 columns med-rec-col med-rec-col-left">
  <div class="med-rec-source">
    <div class="med-tile-container">
      {% if medication %}
      <div class="med-tile" data-med-id="{{ medication.virtual_medicinal_product.vpid }}">
        <div class="medicine">
          {{ medication.virtual_medicinal_product.nm }}
        </div>
        <div class="dose">
          {% if medication2 %}
            {% ifequal medication.strength medication2.strength %}
              {% if medication.strength %}
              {{ medication.strength }},
              {% endif %}
            {% else %}
              {% if medication.strength %}
              <span class="highlight">{{ medication.strength }}</span>,
              {% endif %}
            {% endifequal %}
            {% ifequal medication.route medication2.route %}
              {{ medication.route }},
            {% else %}
              <span class="highlight">{{ medication.route }}</span>,
            {% endifequal %}
            {% ifequal medication.frequency medication2.frequency %}
              {{ medication.frequency }}
            {% else %}
              <span class="highlight">{{ medication.frequency }}</span>
            {% endifequal %}
          {% else %}
            {% if medication.strength %}{{ medication.strength }}, {% endif %}{{ medication.route }}, {{ medication.frequency }}
          {% endif %}
        </div>
        {% ifequal source "history" %}
        <div class="source"><strong>Source: </strong>{{ medication.get_source_display }}</div>
        {% endifequal %}
      	<div class="medicine-reasons">
	      	<div class="choice-reason">Reason for Decision:</div>
	      	<div class="medicine-reason"><img src="/static/img/select.png">&nbsp; Option #1</div>
			<div class="medicine-reason"><img src="/static/img/select.png">&nbsp; Option #2</div>
			<div class="medicine-reason"><img src="/static/img/select.png">&nbsp; Option #3</div>
			<div class="medicine-reason"><img src="/static/img/select.png">&nbsp; Option #4</div>
			<div class="medicine-reason"><img src="/static/img/select.png">&nbsp; Option #5</div>
			<div class="medicine-reason"><img src="/static/img/select.png">&nbsp; Option #6</div>
    	</div>
      
      </div>
      {% else %}
      <div>&nbsp;</div>
      {% endif %}

    </div>
  </div>
</div>