<div class="medium-3 med-section columns med-rec-col-{{ column }} section-{{ section }}" section-name="{{ section }}">
	<div class="med-dock {% if column == 'both' or column == 'right' %}droppable{% endif %}">
	{% for medication in medications %}
		{% if medication.classification_type == section and medication.category == category %}
			<div class="medicine-item draggable" medicine-id="{{ medication.id }}"
			data-med-id="{{ medication.virtual_medicinal_product.vpid }}"
			data-med-dose="{{ medication.dose }}"
			data-med-ddu="{{ medication.daily_dose_unit }}"
			data-med-route="{{ medication.route }}"
			data-med-freq="{{ medication.frequency }}"
			data-med-strength="{{ medication.strength }}"
			data-med-source="{{ medication.source }}">
				<div class="edittile">
        			<img src="/static/img/edit2.png">
        		</div>
				<div class="closetile">
        			<img src="/static/img/close2.png">
        		</div>
				<div class="medicine-name">{{ medication.display_name }}</div>
				<div class="medicine-details">
					{{ medication.strength}}
					{% if medication.strength and medication.route %},{% endif %} 
					{{ medication.route }}
					{% if medication.route and medication.frequency %},{% endif %} 
					{{ medication.frequency }}
					{% if medication.strength or medication.route or medication.frequency %}.{% endif %}</div>
				<div class="medicine-source">Source: {{ medication.get_source_display }}</div>
				<div class="medicine-reasons">
			      	<div class="choice-reason">Reason for Decision:</div>
			      	<div class="medicine-reason"><img src="/static/img/select.png">&nbsp; No longer indicated</div>
					<div class="medicine-reason"><img src="/static/img/select.png">&nbsp; Allergy / Intolerance</div>
					<div class="medicine-reason"><img src="/static/img/select.png">&nbsp; Inadequate Response</div>
					<div class="medicine-reason"><img src="/static/img/select.png">&nbsp; Patient Choice</div>
					<div class="medicine-reason"><img src="/static/img/select.png">&nbsp; Patient Difficulty</div>
					<div class="medicine-reason"><img src="/static/img/select.png">&nbsp; Prescribed in Error</div>
					<div class="medicine-reason"><img src="/static/img/select.png">&nbsp; Product unavailable</div>
					<div class="medicine-reason"><img src="/static/img/select.png">&nbsp; Formulary Sub.</div>
	    		</div>
			</div>
		{% endif %}
	{% endfor %}
	</div>
</div>