{% extends "base.html" %}
{% load staticfiles %}

{% block extra_css %}
  <link href="{% static 'css/medicine_reconcile.css' %}" rel="stylesheet">
{% endblock extra_css %}

{% block content %}

<div class="destination-map">
	<div class="destination done">
		<img src="/static/img/complete.png"><br/>
		Scan Medicine Bag
	</div>
	<div class="route">
		<img src="/static/img/route.png">
	</div>
	<div class="destination done">
		<img src="/static/img/complete.png"><br/>
		SCR Consent
	</div>
	<div class="route">
		<img src="/static/img/route.png">
	</div>
	<div class="destination done">
		<img src="/static/img/complete.png"><br/>
		Patient History Wizard
	</div>
	<div class="route">
		<img src="/static/img/route.png">
	</div>
	<div class="destination done">
		<img src="/static/img/complete.png">
		Patient Medical Questionnaire
	</div>
	<div class="route">
		<img src="/static/img/route.png">
	</div>
	<div class="destination done">
		<img src="/static/img/complete.png"><br/>
		Carer History Wizard
	</div>
	<div class="route">
		<img src="/static/img/route.png">
	</div>
	<div class="destination done">
		<img src="/static/img/complete.png">
		Carer Medical Questionnaire
	</div>
	<div class="route">
		<img src="/static/img/route.png">
	</div>
	<div class="destination selected">
		<img src="/static/img/destination.png">
		Medicines History Review
	</div>
	<div class="route">
		<img src="/static/img/route.png">
	</div>
	<div class="destination">
		<img src="/static/img/destination.png">
		Junior Review
	</div>
	<div class="route">
		<img src="/static/img/route.png">
	</div>
	<div class="destination">
		<img src="/static/img/destination.png">
		Senior Review
	</div>
	<div class="route">
		<img src="/static/img/route.png">
	</div>
	<div class="destination">
		<img src="/static/img/destination.png">
		Pharmacy Review
	</div>
</div>

<div class="navigate-map">Navigate</div>
<div id="toprow">
	<div id="title-container">
		<h1>
			<div id="swipe_left" style="display:none;">&larr;&nbsp;</div>
			{% block title %}Medication Reconcilation{%endblock title %}
			<div id="swipe_right">&nbsp;&rarr;</div>
		</h1>
	</div>
</div>
<div class="send-data">Send to PAS</div>

<div class="row show-for-portrait">
  <div class="medium-8 medium-centered columns">
    <div data-alert class="alert-box secondary radius please-rotate">
      Please rotate your device to landscape mode.
    </div>
  </div>
</div>

<div class="row med-rec-container show-for-landscape">

  {% include "reconcile_medicine_header.html" with title="Last Discharge" source="inpatient" bank="left" %}
  {% include "reconcile_medicine_header.html" with title="SCR/GP" source="gp" bank="left" %}
  {% include "reconcile_medicine_header.html" with title="Other Sources" source="history" bank="left" %}

  {% include "reconcile_medicine_header.html" with title="Medicines History" source="reconcile" bank="both" %}
  
  {% include "reconcile_medicine_header.html" with title="Continue" source="continued" bank="right" %}
  {% include "reconcile_medicine_header.html" with title="Suspend" source="suspend" bank="right" %}
  {% include "reconcile_medicine_header.html" with title="Stop" source="stop" bank="right" %}

</div>

{% for medication in medications %}
<div class="row med-rec-container show-for-landscape">
  <div class="medium-3 columns med-rec-col med-rec-col-left">
    <div class="med-rec-source">
      <div></div>
    </div>
  </div>
  {% include "reconcile_medicine_medication_tile.html" with medication=medication.gp medication2=medication.history source="gp" %}
  {% include "reconcile_medicine_medication_tile.html" with medication=medication.history medication2=medication.gp source="history" %}
  
  
  <div class="medium-3 columns med-rec-col med-rec-col-both">
    <div class="med-rec-target" data-med-id="{{ medication.medinfo.vpid }}" data-med-nm="{{ medication.medinfo.nm }}">
      <div class="med-tile-container">
        <div class="dropzone continue" data-operation="continue">
          <span class="dropzone-text">Confirm</span>
        </div>
      </div>
    </div>
  </div>
  
  <div class="medium-3 columns med-rec-col med-rec-col-right">
    <div class="med-rec-target" data-med-id="{{ medication.medinfo.vpid }}" data-med-nm="{{ medication.medinfo.nm }}">
      <div class="med-tile-container">
        <div class="dropzone continue" data-operation="finished">
          <span class="dropzone-text">Confirm</span>
        </div>
      </div>
    </div>
  </div>
  
  <div class="medium-3 columns med-rec-col med-rec-col-right">
    <div class="med-rec-target" data-med-id="{{ medication.medinfo.vpid }}" data-med-nm="{{ medication.medinfo.nm }}">
      <div class="med-tile-container">
        <div class="dropzone continue" data-operation="finished">
          <span class="dropzone-text">Confirm</span>
        </div>
      </div>
    </div>
  </div>
    
    <div class="medium-3 columns med-rec-col med-rec-col-right">
    <div class="med-rec-target" data-med-id="{{ medication.medinfo.vpid }}" data-med-nm="{{ medication.medinfo.nm }}">
      <div class="med-tile-container">
        <div class="dropzone continue" data-operation="finished">
          <span class="dropzone-text">Confirm</span>
        </div>
      </div>
    </div>
  </div>
  
</div>



{% endfor %}

{% endblock content %}

{% block extra_js %}
  <script type="text/javascript" src="{% static 'js/foundation/foundation.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/foundation/foundation.equalizer.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/jquery.ui.touch-punch.min.js' %}"></script>


  <script type="text/javascript">
    $(document).foundation();

    $( window ).resize(function() {
      $('.med-rec-source').each(function() {
        $(this).height($(this).parents('.row').height());
      });

      $('.med-rec-target').each(function() {
        $(this).height($(this).parents('.row').height() - 3);
      });
    });

	$(".send-data").click(function() {
		$( "#dialog" ).dialog({ closeText: "X" });
	});

	$(".navigate-map").click(function() {
		if ($(".destination-map:hidden").length) {
			$(".destination-map").css("display", "block");
			$(".destination-map").animate({height: "130px"},300);	
		}
		else {
			$(".destination-map").animate({height: "0px"},300, function() {
				$(".destination-map").css("display", "none");
			});		
		}
	});
	
	$(".med-tile-container").on('click','.medicine-reason',function() {
		$(this).closest('.med-tile').children('.medicine-reasons').hide();
        $(this).closest('.med-tile').children('.medicine').show();
        $(this).closest('.med-tile').children('.dose').show();
        $(this).closest('.med-tile').children('.source').show();	
	});
	
	
	$("#swipe_right").click(function() {
		$(".med-rec-col-left").animate({width: "0%"},200);
		$(".med-rec-col-left").toggle();
		$(".med-rec-col-right").toggle();
		$(".med-rec-col-right").animate({width: "25%"},200);
		$("#swipe_left").toggle();
		$("#swipe_right").toggle();
		reactivate_meds();
	});
	
	$(document).on("swiperight",function() {
		if($(".med-rec-col-right:hidden").length) {
			$(".med-rec-col-left").animate({width: "0%"},200);
			$(".med-rec-col-left").toggle();
			$(".med-rec-col-right").toggle();
			$(".med-rec-col-right").animate({width: "25%"},200);
			$("#swipe_left").toggle();
			$("#swipe_right").toggle();	
			full_reactivate();
		}
	});
	
	$("#swipe_left").click(function() {
		$(".med-rec-col-right").animate({width: "0%"},200);
		$(".med-rec-col-right").toggle();
		$(".med-rec-col-left").toggle();
		$(".med-rec-col-left").animate({width: "25%"},200);
		$("#swipe_left").toggle();
		$("#swipe_right").toggle();
	});
	
	$(document).on("swipeleft",function() {
		if($(".med-rec-col-left:hidden").length) {
			$(".med-rec-col-right").animate({width: "0%"},200);
			$(".med-rec-col-right").toggle();
			$(".med-rec-col-left").toggle();
			$(".med-rec-col-left").animate({width: "25%"},200);
			$("#swipe_left").toggle();
			$("#swipe_right").toggle();
		}
	});


    $('.med-rec-source').each(function() {
      $(this).height($(this).parents('.row').height());
    });

    $('.med-rec-target').each(function() {
      $(this).height($(this).parents('.row').height() - 3);
    });

    $(function() {
      $('.med-tile').draggable({
        revert: "invalid",
        revertDuration: 200,
        helper: function() {
          var helper = $(this).clone();
          helper.attr('data-helper', '');
          return helper;
        },
        start: function(event, ui) {
          ui.helper.css('z-index', 99999);
          ui.helper.addClass('drag-helper');

          ui.helper.width($(event.currentTarget).width());

          var med_id = ui.helper.attr('data-med-id');

          $('.med-tile[data-med-id="' + med_id + '"]').not('[data-helper]').each(function() {
            $(this).addClass('in-progress');
          });

          $('.med-rec-target').each(function() {
            if ($(this).attr('data-med-id') === med_id) {
              $(this).find('.dropzone.continue').show();
              $(this).find('.dropzone.suspend').show();
              $(this).find('.dropzone.stop').show();
              $(this).find('.dropzone.replace').hide();
            } else {
              $(this).find('.dropzone.continue').hide();
              $(this).find('.dropzone.suspend').hide();
              $(this).find('.dropzone.stop').hide();
              $(this).find('.dropzone.replace').show();
            }
          });
        },
        stop: function(event, ui) {
          ui.helper.removeClass('drag-helper');
          var med_id = ui.helper.attr('data-med-id');

          $('.med-tile[data-med-id="' + med_id + '"]').not('[data-helper]').each(function() {
            $(this).removeClass('in-progress');
          });

          $('.dropzone').hide();
        }
      });

      $(".dropzone").droppable({
        hoverClass: "ui-state-hover",
        drop: function(event, ui) {
          var med_id = ui.helper.attr('data-med-id');

          $('.med-tile[data-med-id="' + med_id + '"]').not('[data-helper]').each(function() {
            $(this).draggable("destroy");
            $(this).addClass('complete');
            $(this).removeClass('continue');
          });

          console.log($(this).attr('data-operation'));

          var result_tile = ui.draggable.clone();
          result_tile.find('.highlight').removeClass('highlight');

          if ($(this).attr('data-operation') === 'continue') {
            result_tile.addClass('continue');
          } else if ($(this).attr('data-operation') === 'replace') {
            var target_med_id = $(this).parents('.med-rec-target').attr('data-med-id');
            $('.med-tile[data-med-id="' + target_med_id + '"]').not('[data-helper]').each(function() {
              $(this).draggable("destroy");
              $(this).addClass('complete');
            });
            result_tile.addClass('continue');
          } else if ($(this).attr('data-operation') === 'suspend') {
            result_tile.addClass('suspend');
          } else if ($(this).attr('data-operation') === 'stop') {
            result_tile.addClass('stop');
          } else if ($(this).attr('data-operation') === 'finished') {
            result_tile.addClass('finished');
          }

			if (result_tile.hasClass("finished")) {
				result_tile.removeClass('in-progress');
	            result_tile.addClass('complete');
	            result_tile.closest('.med-tile').children('.medicine-reasons').show();
	            result_tile.closest('.med-tile').children('.medicine').hide();
	            result_tile.closest('.med-tile').children('.dose').hide();
	            result_tile.closest('.med-tile').children('.source').hide();	
			}

          $(this).replaceWith(result_tile);
          

          //$('.med-rec-target[data-med-id="' + med_id + '"]').find('.med-tile-container').find('.dropzone').remove();

          // $(this).parent().find('.dropzone').remove();

          $('.med-rec-target').find('.med-tile[data-med-id="' + med_id + '"]').removeClass('complete');
          
          ui.helper.remove();
        },
      });
    });
    
    
  function reactivate_meds() {
      $('.med-tile').draggable({
        revert: "invalid",
        revertDuration: 200,
        helper: function() {
          var helper = $(this).clone();
          helper.attr('data-helper', '');
          return helper;
        },
        start: function(event, ui) {
          ui.helper.css('z-index', 99999);
          ui.helper.addClass('drag-helper');

          ui.helper.width($(event.currentTarget).width());

          var med_id = ui.helper.attr('data-med-id');

          $('.med-tile[data-med-id="' + med_id + '"]').not('[data-helper]').each(function() {
            $(this).addClass('in-progress');
          });

          $('.med-rec-target').each(function() {
            if ($(this).attr('data-med-id') === med_id) {
              $(this).find('.dropzone.continue').show();
              $(this).find('.dropzone.suspend').show();
              $(this).find('.dropzone.stop').show();
              $(this).find('.dropzone.replace').hide();
            } else {
              $(this).find('.dropzone.continue').hide();
              $(this).find('.dropzone.suspend').hide();
              $(this).find('.dropzone.stop').hide();
              $(this).find('.dropzone.replace').show();
            }
          });
        },
        stop: function(event, ui) {
          ui.helper.removeClass('drag-helper');
          var med_id = ui.helper.attr('data-med-id');

          $('.med-tile[data-med-id="' + med_id + '"]').not('[data-helper]').each(function() {
            $(this).removeClass('in-progress');
            $(this).addClass('complete');
          });
			
          $('.dropzone').hide();
        }
      });	
  }
  
  
  function full_reactivate() {
      $('.med-tile').draggable({
        revert: "invalid",
        revertDuration: 200,
        helper: function() {
          var helper = $(this).clone();
          helper.attr('data-helper', '');
          return helper;
        },
        start: function(event, ui) {
          ui.helper.css('z-index', 99999);
          ui.helper.addClass('drag-helper');

          ui.helper.width($(event.currentTarget).width());

          var med_id = ui.helper.attr('data-med-id');

          $('.med-tile[data-med-id="' + med_id + '"]').not('[data-helper]').each(function() {
            $(this).addClass('in-progress');
          });

          $('.med-rec-target').each(function() {
            if ($(this).attr('data-med-id') === med_id) {
              $(this).find('.dropzone.continue').show();
              $(this).find('.dropzone.suspend').show();
              $(this).find('.dropzone.stop').show();
              $(this).find('.dropzone.replace').hide();
            } else {
              $(this).find('.dropzone.continue').hide();
              $(this).find('.dropzone.suspend').hide();
              $(this).find('.dropzone.stop').hide();
              $(this).find('.dropzone.replace').show();
            }
          });
        },
        stop: function(event, ui) {
          ui.helper.removeClass('drag-helper');
          var med_id = ui.helper.attr('data-med-id');

          $('.med-tile[data-med-id="' + med_id + '"]').not('[data-helper]').each(function() {
            $(this).removeClass('in-progress');
          });

          $('.dropzone').hide();
        }
      });

      $(".dropzone").droppable({
        hoverClass: "ui-state-hover",
        drop: function(event, ui) {
          var med_id = ui.helper.attr('data-med-id');

          $('.med-tile[data-med-id="' + med_id + '"]').not('[data-helper]').each(function() {
            $(this).draggable("destroy");
            $(this).addClass('complete');
            $(this).removeClass('continue');
          });

          console.log($(this).attr('data-operation'));

          var result_tile = ui.draggable.clone();
          result_tile.find('.highlight').removeClass('highlight');

          if ($(this).attr('data-operation') === 'continue') {
            result_tile.addClass('continue');
          } else if ($(this).attr('data-operation') === 'replace') {
            var target_med_id = $(this).parents('.med-rec-target').attr('data-med-id');
            $('.med-tile[data-med-id="' + target_med_id + '"]').not('[data-helper]').each(function() {
              $(this).draggable("destroy");
              $(this).addClass('complete');
            });
            result_tile.addClass('continue');
          } else if ($(this).attr('data-operation') === 'suspend') {
            result_tile.addClass('suspend');
          } else if ($(this).attr('data-operation') === 'stop') {
            result_tile.addClass('stop');
          } else if ($(this).attr('data-operation') === 'finished') {
            result_tile.addClass('finished');
          }

			if (result_tile.hasClass("finished")) {
				result_tile.removeClass('in-progress');
	            result_tile.addClass('complete');
	            result_tile.closest('.med-tile').children('.medicine-reasons').show();
	            result_tile.closest('.med-tile').children('.medicine').hide();
	            result_tile.closest('.med-tile').children('.dose').hide();
	            result_tile.closest('.med-tile').children('.source').hide();	
			}

          $(this).replaceWith(result_tile);
          

          //$('.med-rec-target[data-med-id="' + med_id + '"]').find('.med-tile-container').find('.dropzone').remove();

          // $(this).parent().find('.dropzone').remove();

          $('.med-rec-target').find('.med-tile[data-med-id="' + med_id + '"]').removeClass('complete');
          
          ui.helper.remove();
        },
      });
    }
  
  
  
  </script>

	<div id="dialog" title="Information Sent">
		<p>Customer medicinal information has been sent to the PAS.</p>
	</div>

{% endblock extra_js %}