{% extends "base.html" %}
{% load staticfiles %}

{% block extra_css %}
  <link href="{% static 'css/medicine_reconcile.css' %}" rel="stylesheet">
{% endblock extra_css %}

{% block content %}
<h1>{% block title %}Medication Reconcilation{%endblock title %}</h1>

<div class="row show-for-portrait">
  <div class="medium-8 medium-centered columns">
    <div data-alert class="alert-box secondary radius please-rotate">
      Please rotate your device to landscape mode.
    </div>
  </div>
</div>

<div class="row med-rec-container show-for-landscape" data-equalizer>
  <div class="medium-3 columns med-rec-col" data-equalizer-watch>
    <div class="med-rec-source">
      <div class="header">
        GP
      </div>
      <ul class="med-list">
        {% for medication in unverified_medications %}
          <li class="med-tile" data-source="gp" data-similar-id="{{ medication.id }}">{{ medication.virtual_medicinal_product.nm }}, {{ medication.frequency}} {{ medication.duration }} ({{ medication.get_source_display }})</li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="medium-3 columns med-rec-col" data-equalizer-watch>
    <div class="med-rec-source">  
      <div class="header">
        Hospital
      </div>
      <ul class="med-list">
        {% for medication in unverified_medications %}
          <li class="med-tile" data-source="hospital" data-similar-id="{{ medication.id }}">{{ medication.virtual_medicinal_product.nm }}, {{ medication.frequency}} {{ medication.duration }} ({{ medication.get_source_display }})</li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="medium-3 columns med-rec-col" data-equalizer-watch>
    <div class="med-rec-source">
      <div class="header">
        Unverified
      </div>
      <ul class="med-list">
        {% for medication in unverified_medications %}
          <li class="med-tile" data-source="unverified" data-similar-id="{{ medication.id }}">{{ medication.virtual_medicinal_product.nm }}, {{ medication.frequency}} {{ medication.duration }} ({{ medication.get_source_display }})</li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="medium-3 columns med-rec-col" data-equalizer-watch>
    <div class="med-rec-target">
      <div class="header">
        Reconciled Medications
      </div>
      <ul id="reconcile-target" class="med-list">
        <li id="drop-helper" class="drop-helper">
          Drag selected meds here<br/>
          <img src="{% static 'img/medicine_reconcile_drop_helper.png' %}" alt="drop helper icon" />
        </li>
      </ul>
    </div>
  </div>
</div>

{% endblock content %}

{% block extra_js %}
  <script type="text/javascript" src="{% static 'js/foundation/foundation.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/foundation/foundation.equalizer.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
  <script type="text/javascript" sec="{% static 'js/jquery.ui.touch-punch-improved.js' %}"></script>


  <script type="text/javascript">
    $(document).foundation();

    $(function() {
      $('.med-tile').draggable({
        revert: "invalid",
        start: function(event, ui) {
          ui.helper.css('z-index', 99999);
          ui.helper.addClass('drag-helper');
          var similar_id = ui.helper.attr('data-similar-id');
          var source = ui.helper.attr('data-source');

          var helper_offset = ui.helper.offset();

          $('.med-tile[data-similar-id="' + similar_id + '"]').not("[data-source='" + source + "']").each(function() {
            $(this).animate({
              left: helper_offset.left - $(this).offset().left,
              top: helper_offset.top - $(this).offset().top
            }, 300, function() {
              $(this).hide();
            });
          });

        },
        stop: function(event, ui) {
          ui.helper.removeClass('drag-helper');
          var similar_id = ui.helper.attr('data-similar-id');
          var source = ui.helper.attr('data-source');

          $('.med-tile[data-similar-id="' + similar_id + '"]').not("[data-source='" + source + "']").each(function() {
            $(this).css('left', '');
            $(this).css('top', '');
            $(this).show();
          });
        }
      });

      $("#reconcile-target").droppable({
        drop: function(event, ui) {
          $(this).append('<li class="med-tile">' + ui.draggable.html() + '</li>');
          
          var similar_id = ui.helper.attr('data-similar-id');
          var source = ui.helper.attr('data-source');

          ui.draggable.remove();

          $('.med-tile[data-similar-id="' + similar_id + '"]').not("[data-source='" + source + "']").each(function() {
            $(this).remove();
          });
        }
        // ,
        // activate: function(event, ui) {
        //   $('#drop-helper').show(300, 'linear');
        // },
        // deactivate: function(event, ui) {
        //   $('#drop-helper').hide(300);
        // }
      });
    });
  </script>


{% endblock extra_js %}