{% extends "base.html" %}

{% block content %}
<h1>{% block title %}Patients Under My Care{% endblock title %}</h1>

<div class="row">
  <div class="small-8 small-centered columns">
    <ul>
    {% for patient in patients %}
      <li class="patient-search-result">
        <h2><a href="{% url 'patient_detail' patient.id %}">{{ patient.get_full_name }}</a> <span class="sex">({{ patient.sex }})</span></h2>
        <label for="patient-dob" style="">DOB: </label>
        <span id="patient-dob" class="detail">{{ patient.date_of_birth }}</span>
        <label for="patient-hospno">Hospital No: </label>
        <span id="patient-hospno" class="detail">{{ patient.hospital_id }}</span>
        <label for="patient-nhs">NHS No: </label>
        <span id="patient-nhs" class="detail">{{ patient.nhs_number }}</span>
      </li>
    {% endfor %}
    </ul>
  </div>
</div>

{% endblock content %}