{% extends "base.html" %}
{% load staticfiles %}

{% block extra_css %}
  <link href="{% static 'css/medicine_verify.css' %}" rel="stylesheet">
{% endblock extra_css %}

{% block content %}
<h1>{% block title %}Review Medications{%endblock title %}</h1>

<div class="row">
  <div class="small-12 small-centered columns">
    <ul class="orbit-verify" data-orbit>

    {% for medication in medications %}
      <li data-orbit-slide="{{ forloop.counter0 }}" data-patient-medication-id="{{ medication.id }}">
        <div class="header">
          <h2>
            <span class="medication">{{ medication.virtual_medicinal_product.vtmid.nm }} </span>
            <span class="strength">{{ medication.strength }} </span>
            <span class="frequency">{{ medication.frequency }}</span>
          </h2>
          <span class="source">{{ medication.get_source_display }}</span>
        </div>
        <div class="content">
          <a data-orbit-link="{{ forloop.counter }}" data-action="yes" class="decision button {% if medication.status == 'TAKING' %}selected{% else %}not-selected{% endif %}"><strong>Yes</strong>, I'm taking</a>
          <a data-orbit-link="{{ forloop.counter }}" data-action="not-as-prescribed" class="decision button {% if medication.status == 'NOT AS PRESCRIBED' %}selected{% else %}not-selected{% endif %}"><strong>Yes</strong>, but not as prescribed</a>
          <a data-orbit-link="{{ forloop.counter }}" data-action="no" class="decision button {% if medication.status == 'DELETED' %}selected{% else %}not-selected{% endif %}"><strong>No</strong>, I'm not taking it</a>
          {# <a data-orbit-link="{{ forloop.counter }}" data-action="yes" class="button"><strong>Not Sure</strong></a> #}
        </div>
      </li>
    {% endfor %}
      <li data-orbit-slide="{{ medications|length }}">
        <div class="header">
          <h2>
            <span class="medication">Review Complete</span>
          </h2>
        </div>
        <div class="content">
          <a data-action="complete" class="decision button complete" href="{% url 'patient_detail' patient.id %}">Return to medication history</a>
        </div>
      </li>
  </ul>
  </div>
</div>



{% endblock content %}

{% block extra_js %}
  <script type="text/javascript" src="{% static 'js/foundation/foundation.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/foundation/foundation.orbit.js' %}"></script>

  <script type="text/javascript">
    var orbit_verify;
    var is_mobile = /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent);
    var current_slide = 1;
    var total_slides = $('.orbit-verify').find('li').length;

    $('.orbit-verify').on("ready.fndtn.orbit", function(event) {
      orbit_verify = this;
    });

    $('.orbit-verify').on("after-slide-change.fndtn.orbit", function(event, orbit) {
      current_slide = orbit.slide_number + 1;
    });

    $('.decision').click(function() {
      var action = $(this).attr('data-action');
      var med_id = $(this).parents('li[data-orbit-slide]').attr('data-patient-medication-id');

      if (action !== 'complete') {
        $(this).parent().find('.button').not('[data-action="' + action + '"]').removeClass('selected');
        $(this).parent().find('.button').not('[data-action="' + action + '"]').addClass('not-selected');
        $(this).removeClass('not-selected');
        $(this).addClass('selected');
      }      

      $.ajax({
        url: "{% url 'ajax_patient_verify_medicine' patient.id %}?action=" + action + "&type=patient&medication_id=" + med_id,
        success: function(xhr) {
          console.log(xhr);
        },
        error: function(xhr) {
          // document.write(xhr.responseText);
        }
      });
    })

    $(document).foundation({
      orbit: {
        animation: 'slide',
        animation_speed: 500,
        navigation_arrows: !is_mobile,
        bullets: true,
        timer: false,
        next_on_click: false,
        slide_number: false,
        circular: false,
        variable_height: false,
      }
    });

    if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
      $('[data-orbit-slide]').addClass('swipe-info');
    }
  </script>
  
{% endblock extra_js %}